<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Springboot4 방명녹</title>
    <link rel="stylesheet" href="/css/visitor.css" />
</head>
<body>
    <h1>방명녹</h1>
    <p>로그이난 사용자만 사용할 수 이씁니다. 수정/삭제 외 회원괄리는 ADMIN 궈난만 가능합니다.</p>
    <p>
        <span th:if="${loggedIn}">로그인 상태입니다.</span>
        <span th:if="${!loggedIn}">로그인하지 않았습니다.</span>
    </p>
    <p>
        로그인한 아이디:
        <span th:text="${loginUsername}"></span>
        님
    </p>
    <p>
        <span th:text="${isAdmin} ? '반갑습니다 관리자님' : '당신... 관리자가 아니군'"></span>
    </p>
    <hr>
    <a href="/vlist"><button>방명록 리스트 보기</button></a>
    <hr>
    <a href="/visitorForm.html"><button>방명록 작성</button></a>
    <hr>
    <form action="/vsearch" method="get">
        <input type="text" name="key" placeholder="검색어를 입력하세요" />
        <input type="submit" value="방명록 검색" />
    </form>
    <hr>
    <a href="/members/me"><button>내 정보</button></a>
    <a href="/admin/members"><button>회원관리</button></a>
    <form action="/logout" method="post" style="display: inline"> <!-- form 태그는 inline block이기 때문에 style 없이 쓰면 다음칸으로 넘어감 -->
        <button type="submit">로그아웃</button>
    </form>
</body>
</html>